.transition {transition: all 0.2s ease-in;}
.full-width {width: 100%;}
.absolute-center {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.horizontal-center {display: table; margin: 0 auto;}